@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --prism-base-color: rgba(15, 10, 45, 1);
  --prism-glow-color: white;
}

#root {
  width: 100dvw;
  height: 100dvh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  overflow: hidden;
  transition: scale 1s ease-in-out;
}