:root {
  --prism-base-color: rgba(15, 10, 45, 1);
  --prism-glow-color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}