:root {
    --map-image: url("./assets/map1.png");
}

.mapScreenContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 80% 20% / 100%;
    grid-template-areas:
    "mapViewport"
    "bottomBar";
    background-image: var(--map-image);
    background-position: center;
    background-size: cover;
}

.mapViewport {

}

.mapControls {
    width: 25%;
    position: absolute;
    top: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mapControls > img {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}

.bottomBar {
    width: 100%;
    display: flex;
    align-items: center;
}

.bottomBar #prism-container {
    justify-self: flex-start;
}