:root {
    --prism-scale: 1.0;
    --prism-width: calc(300px * var(--prism-scale));
    --prism-height: calc(600px * var(--prism-scale));
    --prism-depth: calc(150px * var(--prism-scale));
    --prism-glow-color: white;
}

#prism-container {
    perspective: 600px;
    width: var(--prism-width);
    height: var(--prism-height);
    margin: 64px;
    filter: drop-shadow(0 0 calc(var(--prism-scale) * 3rem) var(--prism-glow-color));
}

#prism {
    position: relative;
    top: 50%;
    width: 100%;
    height: 0;
    transform-style: preserve-3d;
    transition: scale 4s ease-in;
    cursor: pointer;
}

.face {
    background-color: rgba(15, 10, 45, 1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front, .back {
    width: var(--prism-width);
    height: var(--prism-height);
}

.front {
    transform: translateY(calc(var(--prism-height) * -0.5)) translateZ(calc(var(--prism-depth) * 0.5));
}

.back {
    transform: rotateY(180deg) translateY(calc(var(--prism-height) * -0.5)) translateZ(calc(var(--prism-depth) * 0.5));
}

.top, .bottom {
    background-color: rgba(3, 3, 32, 1);
    width: var(--prism-width);
    height: var(--prism-depth);
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--prism-height) * 0.5 + (var(--prism-depth) / 2)));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--prism-height) * 0.5 - (var(--prism-depth) / 2)));
}

.left, .right {
    background-color: rgba(24, 11, 54, 1);
    width: var(--prism-depth);
    height: var(--prism-height)
}

.left {
    transform: rotateY(-90deg) translateY(calc(var(--prism-height) * -0.5)) translateZ(calc(var(--prism-depth) * 0.5));
}

.right {
    transform: rotateY(90deg) translateY(calc(var(--prism-height) * -0.5)) translateZ(calc(var(--prism-depth) * -0.5 + var(--prism-width)));
}