#intro-modal-background {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.5);
    z-index: 100;
    width: 100%;
    height: 100%;
}

#intro-modal {
    width: min(80rem, calc(100% - 6rem));
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    color: white;
}

#intro-modal > .smaller {
    font-size: 1.5rem;
}

#prism-screen-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--prism-base-color);
    opacity: 0;
    transition: opacity 3s ease-in;
    z-index: 99;
    pointer-events: none;
}

@media (max-width: 1200px) {
    #intro-modal {
        font-size: 2rem;
    }

    #intro-modal > .smaller {
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    #intro-modal {
        font-size: 1.5rem;
    }
}