#view-screen-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 99;
    pointer-events: none;
}

#photo {
    position: relative;
    width: 133.33dvh;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

iframe {
    border: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

#text {
    background-color: black;
    width: min(80rem, calc(125dvh - 4rem), calc(100dvw - 8rem));
    z-index: 3;
    padding: 2rem;
    margin: 2rem 2rem 8rem 2rem;
    filter: drop-shadow(0 0 1rem black);
    position: absolute;
}

#text > p {
    font-size: 1.5rem;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: white;
    filter: drop-shadow(0 0 1rem black);
    margin: 0;
    vertical-align: middle;
}

#text > p > img {
    height: 1.5rem;
    margin-left: 0.5rem;
    vertical-align: top;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.marker, .easter-egg {
    position: absolute;
    transform-origin: 0% 0%;
    z-index: 1;
    height: 15rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    image-rendering: smooth;
    transform: translate(-50%, -100%);
    transition: scale 1s cubic-bezier(0.95, 0.05, 0.8, -0.5);
}

.marker {
    filter: drop-shadow(0 0 1rem black) sepia(100%) saturate(300%);
}

.easter-egg {
    filter: drop-shadow(0 0 1rem black);
}

.pulsing {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% { scale: 1; }
  50% { scale: 1.25; }
}

.controls-back, .controls-pan {
    width: 100%;
    position: absolute;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
        touch-action: none;
    -webkit-touch-callout: none;
    user-select: none;
}

.controls-pan {
    top: calc(50% - 2.5rem);
    justify-content: space-between;
}

.controls-back > button, .controls-pan > button {
    background-color: transparent;
    border: none;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    filter: drop-shadow(0 0 1rem black);
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button > img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}